
  @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Mukta&family=Oswald&family=Raleway&display=swap');

body{
	margin: 0px;
	box-sizing: border-box;
	background-image: linear-gradient(to bottom, orange,whitesmoke);
	width: 100%;
	height: 100%;
}

.brand 
{
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	font-weight: bolder;
	color: black;
}
.dv
{
	height: 400px;
	width: 100px;
}
.nav-item
{
	font-family: 'Oswald', sans-serif;
	font-weight: bolder;
	color: black;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.hminfo
{
	color: black;
	font-weight: bolder;
	font-size: 20px;
	font-family: 'Merriweather', serif;
font-family: 'Mukta', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;
	
}
#wel
{
	font-weight: bolder;
	font-smooth: always;
	color: ghostwhite;
	
}
.cinfo
{
	font-weight: unset;
	font-size: 20px;
}